HOST=0.0.0.0
PORT=42067

OTEL_HOST=0.0.0.0
OTEL_PORT=42068

OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_TOKEN=""

AGENT_MODEL=gemma4:e2b
AGENT_SYSTEM_PROMPT=You are a helpful coding assistant.
AGENT_CONTEXT_WINDOW=131072
AGENT_CONTEXT_WINDOW_THRESHOLD=0.85

DATA_PATH=/data
JOURNAL_COMMIT_AUTHOR_NAME=ShapeTree
JOURNAL_COMMIT_AUTHOR_EMAIL=shape-tree@localhost

OTEL_SERVICE_NAME=shape-tree-api
OTEL_EXPORTER_OTLP_BASE_ENDPOINT=http://jaeger:4318
OTEL_SDK_DISABLED=false
