HOST=0.0.0.0
PORT=42069

ADMIN_HOST=0.0.0.0
ADMIN_PORT=42070

CONTENT_PATH=/Examples/content
INDEX_SLUG=Home

OTEL_SERVICE_NAME=shape-tree-web
OTEL_EXPORTER_OTLP_BASE_ENDPOINT=http://jaeger:4318
OTEL_SDK_DISABLED=false
